.container-fluid {
  padding-top: 0.75rem;
}
.card {
  margin-bottom: 0.75rem;
  border: 0;
  background-color: #f5f8fa;
  border-radius: 0.25rem;
  background-clip: border-box;
}
.card-body {
  padding: 0.75rem;
  flex: 1 1 auto;
}

.card h1 {
  padding: 0;
  margin: 0;
  font-size: 24px;
  color: #323c46;
  line-height: 34px;
  display: inline-block;
  font-weight: 700;
}

.card h4 {
  font-size: 15px;
  padding: 0;
  text-align: center;
  color: #969ba0;
  font-weight: 700;
}

.searching {
  color: rgba(50, 60, 70, 0.75);
  font-size: 18px;
  line-height: 34px;
  font-weight: 700;
}

.mini-padding {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.no-padding {
  padding-right: 0rem;
  padding-left: 0rem;
}

.navbar-brand {
  width: 154px;
  height: 40px;
  font-size: 0;
  background: url(logo.svg) 50% no-repeat;
  background-size: auto auto;
  background-size: contain;
  margin-left: 0.1875rem;
}

.nav-link {
  font-size: 14px;
}

.pattern-filter {
  width: 112px;
  height: 34px;
  line-height: 24px;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.24rem 0.72rem;
  border: 1px solid transparent;
}
.date-separator {
  width: 28px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.pattern-filter::after {
  position: relative;
  left: 2px;
  top: 2px;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  box-sizing: border-box;
}

.controller {
  color: rgba(50, 60, 70, 0.75);
  border-color: hsla(210, 5%, 61%, 0.5);

  text-align: left;
}

.controller:hover {
  background-color: #969ba0;
  color: #f5f8fa;
}
