body {
  margin: 0;
  padding: 0;
  font-family: "myriad-pro-regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0f4 !important;
}

@font-face {
  font-family: "myriad-pro-regular";
  src: local("MyFont"), url(./fonts/myriad-pro-regular.woff2) format("woff");
}

@font-face {
  font-family: "myriad-pro-bold";
  src: local("MyFont"), url(./fonts/myriad-pro-bold.woff2) format("woff");
}
